$whitecolor:#FFFFFF;
$buttons_color:#6F1EAA;
$login_color:#6F1EAA;
$blackcolor:#000000;
$hero_section:#FEF7E5;
$bordercolor:#F7A500;
$how_it_works:#FAF9F6;
$for_veterinarians_BG:#F6F3FA;
$for_veterinarians_title:#F7A500;
$slider_bg:#DFF5F6;
$in_the_wild: #FAF9F6;
$date:#F7A500;
$brand_bg:#6F1EAA;
$footer_bg:#48156D;
$footer_title:#C282F0;
$footer_links:#FFFFFF;