section.footer
    .container
        .footer_items
            .item_column
                .item_title
                    a(href="") Quick Links
                a(href="") Veterinarians
                a(href="") Products
                a(href="") How it Works
                a(href="") About us
                a(href="") Blog
                a(href="") Shop
                a(href="") Careers
                a(href="") Veterinarian login
                a(href="") Contact us
            .item_column
            .item_title
                a(href="") Call or Text
            a(href="") (888) 901-4480
            .item_title
                a(href="") Email
            a(href="") hello@mixlabrx.com
            .item_title
                a(href="") Fax
            a(href="") (212) 967-0892
            .item_column
            .item_title
                a(href="") New York City
            a(href="") 336 West 37th St Suite 850 New York, NY 10018
            a(href="") Mon-Sat 10am - 8pm ET Sun 10am - 2pm ET
            .item_column
            .item_title
                a(href="") Los Angeles
            a(href="") 2223 Federal Ave Los Angeles, CA 90064
            a(href="") Mon-Sat 9am - 7pm PT Sun 9am - 1pm PT
            .item_column
            .item_title
                a(href="") Social
            a(href="https://www.instagram.com/")
             img(src="assets/images/instagram.png", alt="")
            a(href="https://www.facebook.com/") 
             img(src="assets/images/facebook.png", alt="")
            a(href="https://twitter.com/") 
             img(src="assets/images/twitter.png", alt="")
            a(href="https://www.yahoo.com/") 
             img(src="assets/images/yahoo.png", alt="")
            a(href="https://www.google.com/") 
             img(src="assets/images/google.png", alt="")