section.footer
    .footer_items.container
        .item_column
            h3 #[span Quick Links]
            p Veterinarians
            p Products
            p How it Works
            p About us
            p Blog
            p Shop
            p Careers
            p Veterinarian login
            p Contact us
        .item_column
            h3 #[span Call or Text]
            p (888) 901-4480
            h3 #[span Email]
            p hello@mixlabrx.com
            h3 #[span Fax]
            p (212) 967-0892
        .item_column
            h3 #[span New York City]
            p 336 West 37th St Suite 850 New York, NY 10018
            p Mon-Sat 10am - 8pm ET Sun 10am - 2pm ET
        .item_column
            h3 #[span Los Angeles]
            p 2223 Federal Ave Los Angeles, CA 90064
            p Mon-Sat 9am - 7pm PT Sun 9am - 1pm PT
        .item_images
            h3 #[span Social]
            .instagram
            img(src="assets/images/instagram.png", alt="")
            .facebook
            img(src="assets/images/facebook.png", alt="")
            .twitter
            img(src="assets/images/twitter.png", alt="")
            .yahoo
            img(src="assets/images/yahoo.png", alt="")
            .google
            img(src="assets/images/google.png", alt="")
    p 2021 Mixlab, Inc. Privacy Policy Terms of Service