header.header.container
        ul.menu 
            li.menu_item 
                a(href="#") Veterinarians
            li.menu_item 
                a(href="#") How it works
            li.menu_item 
                a(href="#") About us
            li.menu_item 
                a(href="#") Blog
            li.menu_item 
                a(href="#") Shop
        .logo 
            img(src="/assets/images/Header_logo.png", alt="")
        .login_section
            .login
                a(href="") Veterinarian login
            .btn_main
                a(href="") Try Mixlab