header.header.container
        .menu 
            .menu_item 
                a(href="#") Veterinarians
            .menu_item 
                a(href="#") How it works
            .menu_item 
                a(href="#") About us
            .menu_item 
                a(href="#") Blog
            .menu_item 
                a(href="#") Shop
        .logo 
            img(src="../assets/images/Header_logo.png", alt="")
        .login_section
            .login
                a(href="") Veterinarian login
            .btn 
                a(href="") Try Mixlab