.hero_section
    .hero_left
        img(src="assets/images/Section_img_1.png", alt="")
    .hero_middle
        .hero_title
            p The pet pharmacy 
            p humans are jealous of.
        .hero_subtitle
            h2 5 stars on #[span Yelp], #[span Google] and #[span Facebook] because your 
            h2 best friend deserves only the best in pet care.
        .btn 
            a(href="") Try Mixlab
        .rabbit_image 
            img(src="assets/images/Rabbit_on_board.png", alt="")
    .hero_right 
        img(src="assets/images/Section_img_2.png", alt="")

