section.section_how_it_works
        .how_it_works_title
            h1 How it works
        .how_it_works_content
            .content_item
                img(src="assets/images/bird_circle.png", alt="")
                h2 We receive your prescription
                h4 Either your veterinarian sends us a prescription or 
                h4 we reach out to them for you. Whatever is easiest!
            .content_item
                img(src="assets/images/rabbit_circle.png", alt="")
                h2 We deliver your care package
                h3 Fast and free next-day delivery, straight to your door. Same-day in 
                h3 NYC and LA.
            .content_item
                img.dog_circle (src="assets/images/dog_circle.png", alt="")
                h2 You treat your pet
                h3 Give your pet the care they need to feel better. Plus they can play with our 
                h3 included toy!
        .btn 
            a(href="") Learn More
