section.for_veterinarians
    .left_part
        img(src="assets/images/Section_4_dog&woman.png", alt="")
    .right_part
        h1 For Veterinarians
        h2 We're here to support you and your practice
        h3 Mixlab offers a simple, fast, reliable (and fun) home delivery pharmacy service for your clients. 
        h3 No more delays, no more miscommunications, no more grumpy pets. 
        h3 It’s time to partner with a pharmacy that cares about customer experience as much as you do.
        .btn 
            a(href="") Learn More
