.section_2_contentplace.container 
    .section_left_part
        .section_2.title 
            h1 We couldn’t find a 
            h1 pharmacy experience 
            h1 worthy of our best buds— 
            h1 so we created one.
        .section_2_dog1
            img(src="assets/images/Section_2_dog1.png", alt="")
    .section_2_textblocks 
        .Patients
            h1 Patients first, always
            p We know how stressful it can be when your pet needs meds.
            p That’s why we offer free next-day delivery and even do same-day 
            p in NYC and LA. We got you.
        .Tailored_care
            h1 Tailored care
            p We’ll work with you and your veterinarian to find the very 
            p best solution for your pet. With our custom compounded options, we 
            p can change the dosage, flavor and form. We even have a flavor 
            p guarantee with over 40 options!
            h3 P.S. Everyone seems to love the chicken-flavored chew treats!
        .Support
            h1 Support, 7 days a week
            p You’re not alone. Text, call, or email us 7 days a week—we’ll answer and do our best to 
            p sprinkle in a bit of sunshine. ☀️