section.in_the_wild 
    .in_the_wild.left_img
        img(src="assets/images/Section_last_left_img.png", alt="")
    .in_the_wild.cards_section
        .cards_section.title 
            h2 In the Wild
        .cards_section.subtitle
            p In The Wild is a collection of pieces to help close the communication gap, while growing the love (and understanding) between you and your best pal.
        .cards_section.block_left
            .block.img
                img(src="assets/images/block_left.png", alt="")
            p May 3, 2021
            .block_left.title
                p What is compounding?
            .block_left.subtitle
                p Compounding is the art and science of preparing personalized medications.
            .block_link 
                a(href="") Read the article
        .cards_section.block_right
            .block.img
                img(src="assets/images/block_right.png", alt="")
            p May 3, 2021
            .block_left.title
                p What is compounding?
            .block_left.subtitle
                p Compounding is the art and science of preparing personalized medications.
            .block_link 
                a(href="") Read the article
    .cards_section.btn 
        a(href="") View more

    .in_the_wild.right_img 
        img(src="assets/images/Section_last_right_img.png", alt="")
