section.in_the_wild 
    .in_the_wild.left_img
        img(src="assets/images/Section_last_left_img.png", alt="")
    .in_the_wild.cards_section.container
        .cards_section.text
            .cards_section.title 
                h2 In the Wild
            .cards_section.subtitle
                p In The Wild is a collection of pieces to help close the communication gap, while growing the love (and understanding) between you and your best pal.
        .card_blocks
            .cards_section.block_left
                .block.img
                    img(src="assets/images/block_left.png", alt="")
                .cards_container
                    .date
                        p May 3, 2021
                    .block_title
                        p What is compounding?
                    .block_subtitle
                        p Compounding is the art and science of preparing personalized medications.
                    .block_link 
                        a(href="") Read the article
            .cards_section.block_right
                .block.img
                    img(src="assets/images/block_right.png", alt="")
                .cards_container
                    .date
                        p June 15, 2021
                    .block_title
                        p Anxiety in Pets
                    .block_subtitle
                        p An interview with a top behavioral specialist in NYC.
                    .block_link 
                        a(href="") Read the article
        .cards_section.btn 
            a(href="") View more
    .in_the_wild.right_img 
        img(src="assets/images/Section_last_right_img.png", alt="")
