section.section_how_it_works
        .how_it_works_title
            h1 How it works
        .how_it_works_content.container
            .content_item
                .img
                    img(src="assets/images/bird_circle.png", alt="")
                h5 We receive your prescription
                p Either your veterinarian sends us a prescription or we reach out to them for you. Whatever is easiest!
            .content_item
                img(src="assets/images/rabbit_circle.png", alt="")
                h5 We deliver your care package
                p Fast and free next-day delivery, straight to your door. Same-day in NYC and LA.
            .content_item
                img.dog_circle(src="assets/images/dog_circle.png", alt="")
                h5 You treat your pet
                p Give your pet the care they need to feel better. Plus they can play with our included toy!
        .btn 
            a(href="") Learn More
