@import "../util/mixins";
@import "../util/colors";

.footer {
    background-color: $footerbg;
}

.footer_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_column {
    display: flex;
    flex-direction: column;
    text-decoration: unset;
    @include footer_text;
}

.item_title {
    padding-bottom: 16px;
    @include footer_title;
}

.item_images img {
    width: 24px;
    height: 24px;
}