@import "../util/mixins";
@import "../util/colors";

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    .menu{
        display: flex;
        flex-direction: row;
    }

    .menu_item a{
        @include menu_item;
    }

    .menu_item:last-child{
        padding-right: 0;
    }

    .logo img{
        max-width: 100%; 
    }

    .login_section{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .login{
        font-size: 14px;
        line-height: 18px;
        padding-right: 33px;
        color: $login_color;

    }
    
    .btn a {
        @include main_button;
    }

}
@import "../util/media";